version: '3.8'
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-account}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-accountpass}
      POSTGRES_DB: ${POSTGRES_DB:-accounting}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
volumes:
  db_data: {}
