.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
  width: 420px;
  padding: 24px;
  background: #fff;
  margin-top: 80px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.09);
}
